@use "../../scss/" as *;

.home_container {
  height: calc(100vh - 80px);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  i {
    font-size: 3rem;
  }

  & > * {
    margin-top: 1rem;
  }

  @include tablet {
    text-align: center;
    padding: 1rem;
  }
}
